/* ===================================== 
   Page Styles
======================================== */

* {
	box-sizing: border-box;
}
body {
  font-size: 1rem;
  line-height: 1.5;
	font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
}

.main-content {
  width: 95%;
  min-width: 1200px;
  margin: 2em auto;
  display:  grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  grid-gap: 20px;
}

img {
  width: 300px;
  height: 300px;
}
/*/*
  padding: 0 203px;
 grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(3, 300px);

/* ===================================== 
  Grid Layout Styles
======================================== */


  /*   
    Instruct the browser to automatically fit column tracks.
     - Use the Grid functions and keywords that auto-generate as many columns 
    necessary to fit the available space, without causing the grid to overflow.
     - Each column should not get narrower than 280px and, if the available space allows it, 
    each column should expand to take up 1 fraction of the free space.
  */
  /*grid-auto-columns: 280px;*/
  
  
  /* Apply a 20px gutter to rows and columns */ 
