/* ===================================== 
   Page Styles
======================================== */

* {
	box-sizing: border-box;
}
body {
  font-size: 1rem;
  line-height: 1.5;
	font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
}
/* this is where the gallery starts */
.main-content {
  max-width: 1200px;
  margin: 0 auto;
  display:  grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  grid-gap: 30px;
  justify-items: stretch;
}

img {
  width: 100%;
  display: block;
}

#searchbar{ 
  margin: 30px; 
  padding:10px; 
  border-radius: 10px; 
} 

input[type=text] { 
   width: 30%; 
   -webkit-transition: width 0.15s ease-in-out; 
   transition: width 0.15s ease-in-out; 
} 
/* When the input field gets focus, change its width to 100% */
input[type=text]:focus { 
  width: 50%; 
} 
